body {
    margin:0;
    padding:0;
    font-family:"Neflix Sans", "NetflixSans", Arial, sans-serif;
    background:#f1f1f1;
}
.canvas-container {
    min-height:256px;
    position:relative;
    border:1px solid #ced4da;
    overflow: hidden;
}

.checked {
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%),
        linear-gradient(-45deg, #eee 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #eee 75%),
        linear-gradient(-45deg, transparent 75%, #eee 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.canvas-controls {
    position:absolute;
    z-index: 1;
    right: 0.5rem;
    top: 0.5rem;
}
.canvas-controls .btn {
    margin-left: 0.25rem;
    width:2rem;
}
.canvas-container canvas {
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
}
.output {
    font-size: 14px;
    min-height: 100px;
}
h2 {
    font-weight:bold;
    font-size: 24px;
}

.code-output {
    white-space: pre !important;
    min-height: 100px;
    font-size: 12px;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}

.input-group-text.sm {
    width: 50px;
    font-size: 12px;
}
.input-group-text.md {
    width: 100px;
    font-size: 14px;
}

input.range {
    width: calc(100% - 50px);
}

.gradient-bar {
    height:80px;
    position:relative;
    margin:0 8px 1rem;
    box-sizing: border-box;
}
.gradient-bar-image {
    width:100%;
    height:32px;
    margin-top:-16px;
    position:absolute;
    top:50%;
    left:0;
    background-color:#fff;
}

.swatch {
    position:absolute;
    background:#fff;
    transform: translateX(-50%);
    padding:3px;
    box-sizing: border-box;
    cursor:pointer;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.swatch-color {
    bottom:0;
}
.swatch-alpha {
    top:0;
}
.swatch-badge {
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    display:block;
    width:10px;
    height:10px;
    border-radius: 2px;
    background:black;
}